@font-face {
  font-family: 'Supercell-magic-webfont';
  src: url(./fonts/Supercell-magic-webfont.ttf);
}

body {
  margin: 0;
  padding: 0;
  background: no-repeat fixed !important;
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ),
  url('images/bk_body.jpg') !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  color: #000000 !important;
}

.ui.text.container {
  background: rgba(255, 255, 255, 0.8);
  padding: 10px !important;
  max-width: 1200px !important;
  font-size: 20px;
}

.header.item, .right.menu a {
  font-family: Supercell-magic-webfont !important;
  color: #b52831 !important;
}